@import "tailwindcss";

:root{

    color: #f0f8ff;
    
    --main-bg-color: #0B132B;
    --main-shadow-color: #1C2541;
    --main-container-color: #3A506B;
    --main-transition-color: #6fffe9;
    --main-fg-color: #00BFA6;

    --main-glass-bg-color: #0B132B33;
    --main-glass-shadow-color: #1c254133;
    --main-glass-container-color: #3a506b33;
    --main-glass-transition-color: #6fffe933;
    --main-glass-fg-color: #00BFA633;
}

@theme inline {
    --color-main-bg: var(--main-bg-color);
    --color-main-shadow: var(--main-shadow-color);
    --color-main-container: var(--main-container-color);
    --color-main-transition: var(--main-transition-color);
    --color-main-fg: var(--main-fg-color);

    --color-glass-bg: var(--main-glass-bg-color);
    --color-glass-shadow: var(--main-glass-shadow-color);
    --color-glass-container: var(--main-glass-container-color);
    --color-glass-transition: var(--main-glass-transition-color);
    --color-glass-fg: var(--main-glass-fg-color);

    --font-main: "Poppins", serif;

    --animate-fade-in: fade-in 2s ease forwards;
    --animate-slide-down: slide-down 2s ease 1;
    --animate-tiptoe: tiptoe 1s ease forwards;
    --animate-untiptoe: untiptoe 1s ease forwards;

}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


body {
    background-color: var(--main-bg-color);
}

.nav-button {
    transform: translateY(-110%);
    @apply p-5 text-2xl;
    animation: slide-down 1s ease forwards, fade-in 2s ease forwards;
}

.nav-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 175%);
    width: 80%;
    height: 7%;
    background-color: var(--main-fg-color);
    z-index: -10;
    transition: 
        transform 0.25s ease-out,
        bottom 0.25s ease-out;
}

.nav-button:hover::after {
    transform: translate(-50%, -50%) scale(1, 6);
    bottom: 100%;
}

.nav-button:nth-child(2) {
    animation-delay: 0.2s;
}

.nav-button:nth-child(3) {
    animation-delay: 0.4s;
}

#contact-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}



/*--------------------*/
/* Project Tile Stuff */
/*--------------------*/
#tech-list {
    margin-top: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .1em;
    padding-right: .1em;

    display: flex;
    flex-wrap: wrap;

    li {
        padding-left: .8em;
        padding-right: .8em;
        margin: .5em;
        border-radius: 2em;
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        background: var(--main-glass-fg-color);
        border: 1px solid var(--main-glass-fg-color);
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#project-tile {
    @apply p-2.5 col-span-12 md:col-span-6;
}

#project-card {
    position: relative;
    top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    @apply p-4 bg-glass-container rounded-md;
    transition: all 0.3s ease-out;
    
}

#project-card:hover {
    top:-6px;
}

#project-title {
    @apply font-extrabold mb-3;
}

/* #project-overview {
    @apply text-gray-500/75 text-xs mb-1;
} */


/*--------------------*/
/* Profile Pic Stuff  */
/*--------------------*/
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#pfp-wrapper::after, #pfp-wrapper::before {
    animation-delay: 0.2s;
    content: '';
    background-image: conic-gradient(
        from var(--angle), lightblue, teal, lightblue, teal, lightblue);
    height: 102%;
    width: 102%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    translate: -50% -50%;
    z-index: 0;
    animation: 4s spin linear infinite; 
}

@keyframes spin {
    from {
        --angle: 0deg;
    } to {
        --angle: 360deg;
    }
}

#pfp-wrapper::before {
    filter: blur(1.5rem);
    opacity: 0.9;
}


#croc {
    border: 1px solid red;
    position: absolute;
    background-color: red;
    top: 100px;
    right: 100px;
    height: 50px;
    width: 50px;
}



/*-----------------------*/
/* Experience Tile Stuff */
/*-----------------------*/
#exp-tile {
    @apply p-2.5 col-span-12 md:col-span-6;
}

#exp-card {
    position: relative;
    top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    @apply p-4 bg-glass-container rounded-md;
    transition: all 0.3s ease-out;
    
}

#exp-card:hover {
    top:-6px;
}

#exp-title {
    @apply font-extrabold mb-3;
}

#exp-desc-list {
    @apply px-5 list-disc;    
}
