<div id="top-bar">
    <div id="hamburger-btn">
        <i data-lucide="menu"></i>
    </div>
    <nav id="navbar-list" class="flex text-center">

        <a id="about-me-button" href="/" class="nav-button font-bold flex items-center gap-2">
            <i data-lucide="user"></i>

            <span class="grid overflow-hidden">
                <span id="aboutme-text-1" class="col-start-1 row-start-1 nav-text">
                    About Me
                </span>

                <span id="aboutme-text-2" class="col-start-1 row-start-1 nav-text">
                    About Me
                </span>
            </span>
        </a>

        <a id="my-work-button" href="/work" class="nav-button font-bold flex items-center gap-2">
            <i data-lucide="briefcase"></i>

            <span class="grid overflow-hidden">
                <span id="mywork-text-1" class="col-start-1 row-start-1 nav-text">
                    My Work
                </span>

                <span id="mywork-text-2" class="col-start-1 row-start-1 nav-text">
                    My Work
                </span>
            </span>
        </a>

        <a id="my-games-button" href="/games" class="nav-button font-bold flex items-center gap-2">
            <i data-lucide="gamepad-2"></i>

            <span class="grid overflow-hidden">
                <span id="mygames-text-1" class="col-start-1 row-start-1 nav-text">
                    My Games
                </span>

                <span id="mygames-text-2" class="col-start-1 row-start-1 nav-text">
                    My Games
                </span>
            </span>
        </a>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons()
        </script>
    </nav>
</div>
